body{
  background-color: thistle;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
  margin: 3%;
  padding: 3%;
  background-color: rgb(196, 255, 196);
  font-size: 400%;
}

.jumbotron{
  background-image: none;
  background-color: rgb(181, 208, 235);
  text-decoration: underline;
}

p{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  cursor: pointer;
}

p:hover {
  text-decoration: underline;
}

.panel > .panel-body {
  background-image: none;
}

#panelcolor1{
  background-color: rgb(78, 78, 238);
}

#panelcolor2{
  background-color: rgb(130, 130, 240);
}

#panelcolor3{
  background-color: rgb(126, 126, 175);
}

#panelcolor4{
  background-color: rgb(0, 183, 255);
}

#panelcolor5{
  background-color: rgb(123, 241, 250);
}

#panelcolor6{
  background-color: rgb(123, 238, 177);
}

#panelcolor7{
  background-color: rgb(77, 255, 187);
}

#panelcolor8{
  background-color: rgb(53, 255, 137);
}

#panelcolor9{
  background-color: rgb(109, 255, 104);
}

#panelcolor10{
  background-color: rgb(97, 251, 92);
}

#panelcolor11{
  background-color: rgb(74, 255, 50);
}

#panelcolor12{
  background-color: rgb(102, 255, 14);
}

.define1{
  display: none;
}
.define2{
  display: none;
}
.define3{
  display: none;
}
.define4{
  display: none;
}
.define5{
  display: none;
}
.define6{
  display: none;
}
.define7{
  display: none;
}
.define8{
  display: none;
}
.define9{
  display: none;
}
.define10{
  display: none;
}
.define11{
  display: none;
}
.define12{
  display: none;
}