.frontbox{
  padding: 2%;
  margin: 2%;
  border: chartreuse 4%;
}

#color1{
  text-align: center;
  background-color: blue;
}

#color2{
  text-align: center;
  background-color: rgb(10, 64, 241);
}

#color3{
  text-align: center;
  background-color: rgb(57, 164, 226);
}

#color4{
  text-align: center;
  background-color: rgb(42, 255, 202);
}

#color5{
  text-align: center;
  background-color: rgb(68, 255, 162);
}

#color6{
  text-align: center;
  background-color: rgb(94, 255, 174);
}

#color7{
  text-align: center;
  background-color: rgb(102, 214, 98);
}

#color8{
  text-align: center;
  background-color: rgb(64, 230, 105);
}

#color9{
  text-align: center;
  background-color: rgb(73, 241, 67);
}

#color10{
  text-align: center;
  background-color: rgb(57, 255, 39);
}

#color11{
  text-align: center;
  background-color: rgb(200, 255, 129);
}

#color12{
  text-align: center;
  background-color: rgb(210, 255, 88);
}

#color13{
  text-align: center;
  background-color: rgb(230, 255, 88);
}

#color14{
  text-align: center;
  background-color: rgb(214, 255, 30);
}

#color15{
  text-align: center;
  background-color: rgb(255, 187, 0);
}

#color16{
  text-align: center;
  background-color: rgb(255, 102, 0);
}
