#codeimage{
  float: right;
  width: 50%;
  height: 50%;
  padding: 4%;
  margin: 4%;
}

body{
  background-color:rgb(142, 173, 180) ;
}

.panel > .panel-body {
  background-image: none;
  background-color: rgb(124, 248, 176);
}

.panel-body {
  text-align: center;
}

.page-header{
  background-image: none;
  background-color: papayawhip;
}
